# This is an example where you can store your environment variables. Copy this file to .env
# Now your app will have access to the variables added below.
# For more instructions see section "Secrets" in README.md

API_URL=https://dev-api.snapshotpostcard.com/api
BASE_URL=https://dev-api.snapshotpostcard.com
SECRET_KEY=17419f910e864ee9bf49cbbb2f314f5d
BUGSNAG_KEY=6a2e9563757c523854e6a28cb4c2a8b2
